.form {    
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 2.5rem;
  margin-bottom: 5rem
}

.addFormulario {    
  grid-column: auto / span 12;
}

.form legend {
  font-size: 1.5rem;     
  margin: 0 auto 1rem;  
}

.form-group {
  align-self: center;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  justify-content: center;
  align-items: center; 
  border-bottom: solid 1px #454444;  
}

.form label {
  width: 10%; 
  display: inline-block;  
}

.form input {
  width: 80%; 
  padding-left: 2rem; 
  border: none;  
  outline: none;
  text-align: left;
  background-color: transparent;
  color: white; 
}

.form input::placeholder {  
  color: #454444;
}

.form .form-button {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;  
  background-color: transparent;
  cursor: pointer;border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #6ee7b7, #9333ea) 1; 
  
}