.logout {
  margin: 3rem auto 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: transparent;
  color: var(--fourth-color) !important;
  font-size: 0.8rem;
  cursor: pointer;
  border: 1px solid white;  
}

