.linkContainer {
  display: flex; 
}

.linkContainer a{   
  width: auto;  
  padding: 0.5rem 1rem;
  text-align: center;
  color: white;
  border: 1px solid transparent;
  background-image: linear-gradient(#111111,#111111), linear-gradient(2.45024rad, #f81ce5 0,#7928ca 20%,#111111 90%);
  background-origin: border-box;
  background-clip: padding-box, border-box; 
  margin: 1rem auto;
  text-decoration: none;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.authContainer a {
  width: 10rem;  
  padding: 0.5rem 1rem;  
  text-align: center;
  color: white;
  border: 1px solid transparent;
  background-image: linear-gradient(#111111,#111111), linear-gradient(2.45024rad, #f81ce5 0,#7928ca 20%,#111111 90%);
  background-origin: border-box;
  background-clip: padding-box, border-box; 
  margin: 1rem auto;
  text-decoration: none;
}

